COHERE_API_KEY=
LANGFUSE_SECRET_KEY=
LANGFUSE_PUBLIC_KEY=
LANGFUSE_BASE_URL=https://cloud.langfuse.com
SQLITE_DB_PATH=./memgraph.db
FAISS_INDEX_DIR=./faiss_indexes
UPLOAD_DIR=./uploads
MAX_UPLOAD_SIZE_MB=50
CHUNK_SIZE=512
CHUNK_OVERLAP=64
TOP_K_TEXT=5
TOP_K_TABLE=3
TOP_K_MEMORY=4
