# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# Environment Variables
.env

# Local Databases & Indexes
memgraph.db
traditional_rag.db
faiss_trad/
faiss_trad/
faiss_indexes/

# Document Uploads
uploads/

# Node / Frontend
node_modules/
dist/
dist-ssr/
*.local

# IDEs & System
.vscode/
.idea/
.DS_Store
*.swp
*.swo

# Logs
logs/*
